@media only screen and (max-width:600px) {
    .menu,
    .form {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        position: relative;
        top: -5%;
    }
    .logo {
        width: 200px;
        height: 200px;
    }
}
body {
    font-family: "Ink Free", "Franklin Gothic Book", Consolas;
    color: #ffffff;
    background-color: #dbaad7
}

a:link {
    color: black
}

a:visited {
    color: white
}